{% include 'navbar.html' %}


<div class="row">

  <div class="container col-lg-12 ">
    <div class="col-lg-6 col-lg-offset-3" >

      <form action="newProduct" method="post">
        <div class="form-group">
          <p>Nombre del Producto</p>
          <input class="form-control" type="text" name="productName" required>

        </div>

        <div class="form-group">


          <p>Tipo de producto</p>
          <select  class="form-control"  name="productType">
            <option value="Electronico">Electronico</option>
            <option value="Ropa">Ropa</option>
            <option value="Alimentacion">Alimentacion</option>
          </select>
        </div>

        <div class="form-group">


          <p>Precio</p>
          <input  class="form-control" type="number" min=1 name="price" required>
        </div>

        <div class="form-group">

          <p>Tipo de vendedor</p>
          <select  class="form-control" name="sellerType">
            <option value="centroLogistico">Amazing</option>
            <option value="vendedorExterno">Vendedor Externo</option>
          </select>
        </div>

        <div class="form-group">


          <input  class="form-control" type="submit">
        </div>

      </form>

    </div>
  </div>
</div>
