
{% include 'navbar.html' %}

<div class="row">
	<div class="container">
		<div class="container-fluid">
			<div class="row text-center">
				<h3> {{username}} , aquí tienes tu resumen de compra: </h3>

				<h3>
					Compra:
					<span>
						{{info['saleId']}}
					</span>
				</h3>
			</div>

			<div class="row">

				<div class="col-lg-6">
					<h3> Tu compra ha sido tramitada por: </h3>
					<h4>
						<p><b> Nombre: </b> {{info['centro']['name']}}</p>
						<p><b> Latitud: </b> {{info['centro']['lat']}}</p>
						<p><b> Longitud: </b> {{info['centro']['long']}}</p>
					</h4>

					<h3> El envío es gestionado por: </h3>
					<h4>

						<p><b> Nombre: </b> {{info['transportista']['name']}}</p>
						<p><b> Días en los que se entregará el pedido:  </b> {{info['transportista']['entrega']}}</p>
						<p><b> Precio del envío: </b> {{info['transportista']['tarifa']}} €</p>
					</h4>

					<h2> <b> Total: </b> {{total}} €</h2>


				</div>
				<div class="col-lg-6">
					<div class="row">
						<h3> Desglose de la compra: </h3>

						<h3>	<b> Productos: </b> {{subtotal}} €</h3>

						{% for p in products %}
						<ul class="list-group">
							<li class="list-group-item">
								<h4>	<b> Nombre: </b> {{p.name}} </h4>
								<h4>	<b> Precio: </b> {{p.precio}} €</h4>
							</li>
						</ul>
						{% endfor %}
						<h3>	<b> Tarifa de envío: </b> {{info['transportista']['tarifa']}} €</p>

							<h2> <b> Total: </b> {{total}} €</h2>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
