{% include 'navbar.html' %}

<div class="row">

  <div class="container col-lg-12 ">
    <div class="col-lg-6 col-lg-offset-3" >
      <form action="search" method="post">

        <div class="form-group">
          <p>Nombre de Usuario</p>
          <input type="text"  class="form-control" name="username" required>
        </div>

          <p>Nombre del Producto</p>

        <div class="form-group">
          <input type="text" class="form-control" name="productName">
          <p>Tipo de producto</p>
        </div>

        <div class="form-group">

          <select class="form-control" name="productType">
            <option value="Electronico">Electronico</option>
            <option value="Ropa">Ropa</option>
            <option value="Alimentacion">Alimentación</option>
          </select>

        </div>

        <div class="form-group">

          <p>Tipo de Vendedor</p>
          <select class="form-control" name="sellerType" >
            <option value="logisticCenter">Vendidos por Amazing</option>
            <option value="externSeller">Otros vendedores</option>
          </select>
        </div>

        <div class="row">
          <div class="col-lg-4">
          <p>Dias entrega</p>
          <input type="number" name="days" min=1 value="1" class="form-control" required>
        </div>
          <div class="col-lg-4">
          <p>Precio mínimo</p>
          <input type="number" name="minPrice" min=1 value=1 class="form-control">
        </div>
          <div class="col-lg-4">
          <p>Precio máximo</p>
          <input type="number" name="maxPrice" min=1 value=100000 class="form-control">
        </div>

        </div>
        <p></p>
        <div class="form-group">
          <input type="submit" class="form-control">
        </div>

      </form>

    </div>

  </div>

</div>
