{% include 'navbar.html' %}
<div class="row">

  <div class="container col-lg-12 ">
    <div class="col-lg-6 col-lg-offset-3" >

		<form action="refund" method="post">
		    <div class="form-group">
			    <p>Id de la compra</p>
			    <input type="text" name="saleId" class="form-control" required>
			</div>
			<div class="form-group">
			    <p>Lista de Productos a devolver separados por espacios, ej: "iPhone Nexus_7"...</p>
			    <input type="text" name="productName" class="form-control" required>
			</div>
			<div class="form-group">
		    	<input type="submit" class="form-control">
		    </div>

		</form>

    </div>

  </div>

</div>