<link href="templates/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="templates/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse">
    
    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a class="navbar-brand navbar-text" href="/search">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          AMAZING
        </a>
      </li>

      <li ui-sref-active="active">
        <a class="navbar-text" href="/search">
          <span class="glyphicon glyphicon-search"></span>
          Search & buy
        </a>
      </li>

      <li ui-sref-active="active">
        <a class="navbar-text" href="/newProduct">
          <p class="glyphicon glyphicon-plus-sign"></p>
          New product
        </a>
      </li>

      <li ui-sref-active="active">
        <a class="navbar-text" href="/refund">
          <span class="glyphicon glyphicon-send"></span>
          Refund a product
        </a>
      </li>

    </ul>
  </div>
</nav>
