<h1> WELCOME TO THE {{title}}! </h1>

<form method="POST" >
	<table width="100%">
		<tr>
			<!--<td>
				<div id="origen">
					<b> <label> Restrinccion 1 </label> </b> <br>
					<select name="rest1" size="10" required>
						<option value="bcn">Barcelona</option>
						<option value="ams">Amsterdam</option>
					</select>
				</div>
			</td>

			<td>
				<div id="destino">
					<b> <label> Restrinccion 2 </label> </b> <br>
					<select name="rest2" size="10" required>
						<option value="bcn">Barcelona</option>
						<option value="ams">Amsterdam</option>
					</select>
				</div>
			</td>-->

			<td>
				<div id="estrellas">
					<b> <label> Restrincción 3 </label> </b> <br>
					<select name="rest3">
						<option value="1.0">1</option>
						<option value="2.0">2</option>
						<option value="3.0">3</option>
						<option value="4.0">4</option>
						<option value="5.0">5</option>
					</select>

				</div>
			</td>

			<td>
				<div id="Precio">
					<b> <label> Precio Min </label> </b> <br>
					<input type="number" name="minPrice"><br>
					<b> <label> Precio Max </label> </b> <br>
					<input type="number" name="maxPrice"><br>
				</div>
			</td>

		</tr>
	</table>
	<br>

	<input class="form-control btn-success" type="submit" value="Send">
</form>
